# TODO: Give context about why we are requiring requests
requests>=2.32.3

# Pydantic provides Swift Codable-style JSON decoding in Python, with type validation and auto-parsing.
# We're using it to model responses from the Alpaca API, such as LatestQuoteResponse and Quote.
pydantic>=2.0